.modal{
    position: fixed;
    display: none;
    width: 50vw;
    height: 50vh;
    margin: 25vh 25vw;
    background: #FEFAFE;
    box-shadow: 5px #ACADAC;
    padding: 2em;
    z-index: 2;
}
.modal.show{
    display: block;
}
.modal.bottom{
    width: 100vw;
    margin: 0;
    bottom: 0;
    left: 0;
}
.overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}